.DS_Store
.idea
**/__pycache__
**/best_model/
**/data
**/raw_data
*/target_best_model
*/disease_best_model
*/outputs/
**/cache/
**/cache_dir/
**/outputs
**/runs/
**/results
**/wandb
*.pt
*.pkl
*.h5
*.xlsx
*.xls
*.log
*.json
*.pdf
*.PDF
*.docx
*.txt
*.doc
*.p
*.7z
*.zip
*.gz
*/__MACOSX
!/README.md
/pharm_ai/clinical_outcome_summarizer/
/pharm_ai/cc/
/pharm_ai/data_handlers/
/pharm_ai/disease_recognizer/
/pharm_ai/disease_syn_recognizer/
/pharm_ai/disease_target_ner/
/pharm_ai/financial_ner/
/pharm_ai/financial_news_summarizer/
/pharm_ai/financial_news_title_classifier/
/pharm_ai/financial_news_title_pair_classifier/
/pharm_ai/financials_extractor/
/pharm_ai/noun/
/pharm_ai/package_insert_extractors/
/pharm_ai/pdf_table_extractor/
/pharm_ai/ner_util/
/pharm_ai/target_recognizer/
/pharm_ai/trytry/
/ref.md
kite-installer
/pharm_ai/po/test.txt
/pharm_ai/po/access_api.py
/pharm_ai/po/exercise.py
/pharm_ai/po/response_body_test.txt
/pharm_ai/po/st_study.py
/pharm_ai/st_study/
/pharm_ai/po/wandb/
/pharm_ai/po/runs/
/pharm_ai/patent_ner/
/pharm_ai/util/test_zip_folder/
/pharm_ai/util/try.py
/pharm_ai/clinical_outcome_thesis_classifier/
/pharm_ai/government_database_blacklist_whitelist/
/pharm_ai/mrc/
/pharm_ai/interview/
/pharm_ai/oc/
/pharm_ai/util/my_utils.py
/pharm_ai/util/my_proj_utils.py
/pharm_ai/oo/
!/pharm_ai/PC/train.py
api_projects/listed_drug_library/call_api.py
api_projects/listed_drug_library/call_sdk.py
api_projects/listed_drug_library/dt.py
pharm_ai/Jazz/raw_data/
pharm_ai/gov_db_news_classifier/api_time_test.py
pharm_ai/gov_db_news_classifier/data_check.py
pharm_ai/gov_db_news_classifier/match_news.py
pharm_ai/gov_db_news_classifier/predict_job.py
pharm_ai/gov_db_news_classifier/raw_data/
pharm_ai/gov_db_news_classifier/test_api.txt
pharm_ai/others/
pharm_ai/perk/api_description.md
pharm_ai/perk/countries.csv
pharm_ai/perk/test_longformers.py
pharm_ai/util/calculate_data_size.py
pharm_ai/util/gpu_util.py
pharm_ai/util/gpu_util_remote.py
pharm_ai/util/test.py
/pharm_ai/util/logger_util.py
/pharm_ai/util/sm_ultil.py
/pharm_ai/financial_notice_pdf/
*/wandb/
*/data/
/pharm_ai_other/
/pharm_ai/to_pre_labeled_dt/
test.py
/pharm_ai/test_jina/
pharm_ai/matching/
/pharm_ai/poker/save_dir_scanned
/pharm_ai/poker/生物序列OCR功能开发需求方案及样本
/pharm_ai/oo
/pharm_ai/distillation/
/pharm_ai/haystack_test/
/pharm_ai/zyl_utils/
/layoutlmft/
docs/
**/.ipynb_checkpoints